#home article{
    margin: 112px;
    position: absolute;
}

#home figcaption{
    float:right;
}

#home img{
    max-width: 30%;
    float: right;   
}

#home p{
    margin: 3em;
}

#intro article{
    margin: 112px;
    position: absolute;
}

#intro p{
    margin: 3em;
}

#tutorial article{
    margin: 112px;
    position: absolute; 
}

#tutorial p{
    margin: 3em;
}

#gallery article{
    margin: 112px;
    position: absolute;
}

#gallery figure{
    margin: 3em;
}

#gallery img{
    max-width: 30%;
}

#about article{
    margin: 112px;
    position: absolute;
}

#about p{
    margin: 3em;
}

#about img{
    max-width: 30%;
}

nav{
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 165px;
    padding: 10px;
    width: 100%;
    background-color: #efefef;
    z-index: 10;
}

nav a{
    text-decoration: none;
}

nav ol li{
    display: inline-block;
    list-style-type: none;
    text-align: center;
    width: 15em;
}

.moreHello {
    width: 60%;
    float: left;
}

.imageOne{
    float: right;
}

.imageThree{
    float: right;
}

.aboutImage{
    display: block;
    margin: 0 auto;
}
