#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#home article{
    margin: 112px;
    position: absolute;
}

#home figcaption{
    float:right;
}

#home img{
    max-width: 30%;
    float: right;   
}

#home p{
    margin: 3em;
    color: WHITE;
}

#intro{
    background-color: #11142D
}

#intro article{
    margin: 112px;
    position: absolute;
}

#intro p{
    margin: 3em;
    color: WHITE;
}

#tutorial{
    background-color: #11142D
}

#tutorial article{
    margin: 112px;
    position: absolute; 
}

#tutorial p{
    margin: 3em;
    color: WHITE;
}

#gallery{
    background-color: #11142D
}

#gallery article{
    margin: 112px;
    position: absolute;
}

#gallery figure{
    margin: 3em;
}

#gallery img{
    max-width: 40%;
}

#about{
    background-color: #11142D
}

#about article{
    margin: 112px;
    position: absolute;
}

#about p{
    margin: 3em;
    color: WHITE;
}

#about img{
    max-width: 30%;
}

nav{
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 165px;
    padding: 10px;
    width: 100%;
    background-color: #191F58;
    z-index: 10;
}

nav a{
    text-decoration: none;
    color: WHITE;
}

nav ol li{
    display: inline-block;
    list-style-type: none;
    text-align: center;
    width: 15em;
}

.moreHello {
    width: 60%;
    float: left;
}

.imageOne{
    float: right;
}

.imageThree{
    float: right;
}

.aboutImage{
    display: block;
    margin: 0 auto;
}

#footer{
    position: absolute;
    float: left;
    margin-top: 30em;
    margin-left: 7em;
}

.thelist{
    margin: 3em;
    color: WHITE;
}

.unordered{
    color: WHITE;
}

.helpme{
    color: WHITE;
}

.welcome{
    width: 50%;
}

.welcomeAbout{
    width: 50%;
}

.welcomeForm{
    width: 50%;
}

.welcomeGallery{
    width: 50%;
}

.welcomeIntro{
    width: 50%;
}

.welcomeTutorial{
    width: 50%;
}
